In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("job_roles_with_skills_updated.csv")

In [3]:
df

,Job Role,Technical Skills,Soft Skills
0,Data Scientist,"Python, Machine Learning, SQL, Pandas, Scikit-...","Analytical Thinking, Communication, Problem So..."
1,Frontend Developer,"HTML, CSS, JavaScript, React, Responsive Desig...","Creativity, Attention to Detail, Teamwork, Ada..."
2,Backend Developer,"Python, Django, REST APIs, SQL, PostgreSQL, Git","Logical Thinking, Collaboration, Problem Solvi..."
3,Mobile App Developer,"Flutter, Dart, Android Studio, Firebase, Git","Creativity, Problem Solving, Team Collaboratio..."
4,Business Analyst,"Excel, SQL, Power BI, Tableau, Statistics, Python","Critical Thinking, Communication, Business Acu..."
5,Project Manager,"Project Planning Tools, JIRA, Scrum, Budgeting...","Leadership, Communication, Time Management, De..."
6,UI/UX Designer,"Figma, Adobe XD, Wireframing, Prototyping, HTM...","Empathy, Creativity, User-Centered Thinking, C..."
7,DevOps Engineer,"Linux, CI/CD, Docker, Kubernetes, AWS, Jenkins","Problem Solving, Proactiveness, Collaboration,..."
8,Digital Marketing Specialist,"SEO, SEM, Google Analytics, Social Media Ads, ...","Creativity, Communication, Data-Driven Thinkin..."
9,Product Manager,"Product Roadmaps, A/B Testing, Market Research...","Strategic Thinking, Communication, User Empath..."
10,Software Engineer,"Java, Python, C++, Spring, Django, React, SQL,...","Problem-solving, Teamwork, Communication, Atte..."
11,Cybersecurity Analyst,"C, C++, Java, PHP, Operating Systems, Network ...","Analytical Thinking, Problem-solving, Attentio..."
12,Cloud Engineer,"AWS, Azure, GCP, EC2, S3, Python, Bash, Securi...","Problem-solving, Communication, Adaptability, ..."
13,Network Engineer,"OSPF, BGP, Cisco, Juniper, Firewall Management...","Problem-solving, Analytical Skills, Documentat..."
14,Database Administrator (DBA),"SQL, NoSQL, Database Security, Backup and Reco...","Problem-solving, Communication, Attention to D..."
15,Technical Writer,"Markdown, Adobe FrameMaker, Content Management...","Communication, Attention to Detail, User Empat..."
16,Sales Engineer,"P&ID Interpretation, Industry Standards, MS Of...","Communication, Customer Orientation, Collabora..."
17,IT Support Specialist,"Windows, macOS, Linux, Network Troubleshooting...","Problem-solving, Customer Service, Communicati..."
18,Site Reliability Engineer (SRE),"Linux, Cloud Platforms, Python, Go, Prometheus...","Problem-solving, Analytical Thinking, Communic..."
19,Platform Engineer,"AWS, Azure, GCP, Kubernetes, Docker, Terraform...","Collaboration, Problem-solving, Communication,..."

In [4]:
df['Technical Skills'][0]

'Python, Machine Learning, SQL, Pandas, Scikit-learn, Data Visualization'

In [5]:
import matplotlib.pyplot as plt

In [6]:
df['All Skills'] = df['Technical Skills'] + ', ' + df['Soft Skills']
df.head()

,Job Role,Technical Skills,Soft Skills,All Skills
0,Data Scientist,"Python, Machine Learning, SQL, Pandas, Scikit-...","Analytical Thinking, Communication, Problem So...","Python, Machine Learning, SQL, Pandas, Scikit-..."
1,Frontend Developer,"HTML, CSS, JavaScript, React, Responsive Desig...","Creativity, Attention to Detail, Teamwork, Ada...","HTML, CSS, JavaScript, React, Responsive Desig..."
2,Backend Developer,"Python, Django, REST APIs, SQL, PostgreSQL, Git","Logical Thinking, Collaboration, Problem Solvi...","Python, Django, REST APIs, SQL, PostgreSQL, Gi..."
3,Mobile App Developer,"Flutter, Dart, Android Studio, Firebase, Git","Creativity, Problem Solving, Team Collaboratio...","Flutter, Dart, Android Studio, Firebase, Git, ..."
4,Business Analyst,"Excel, SQL, Power BI, Tableau, Statistics, Python","Critical Thinking, Communication, Business Acu...","Excel, SQL, Power BI, Tableau, Statistics, Pyt..."

In [7]:
# cols = ['Technical Skills','Soft Skills']

In [8]:
import nltk

In [9]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\4suna\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [10]:
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\4suna\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [11]:
stop_words = set(stopwords.words('english'))

In [12]:
import re
def preprocess(text):
    text = re.sub(r'[^a-zA-Z\s]', '', text)  # remove special characters
    text = text.lower()
    tokens = text.split()
    tokens = [word for word in tokens if word not in stop_words]
    return ' '.join(tokens)

df.head()

,Job Role,Technical Skills,Soft Skills,All Skills
0,Data Scientist,"Python, Machine Learning, SQL, Pandas, Scikit-...","Analytical Thinking, Communication, Problem So...","Python, Machine Learning, SQL, Pandas, Scikit-..."
1,Frontend Developer,"HTML, CSS, JavaScript, React, Responsive Desig...","Creativity, Attention to Detail, Teamwork, Ada...","HTML, CSS, JavaScript, React, Responsive Desig..."
2,Backend Developer,"Python, Django, REST APIs, SQL, PostgreSQL, Git","Logical Thinking, Collaboration, Problem Solvi...","Python, Django, REST APIs, SQL, PostgreSQL, Gi..."
3,Mobile App Developer,"Flutter, Dart, Android Studio, Firebase, Git","Creativity, Problem Solving, Team Collaboratio...","Flutter, Dart, Android Studio, Firebase, Git, ..."
4,Business Analyst,"Excel, SQL, Power BI, Tableau, Statistics, Python","Critical Thinking, Communication, Business Acu...","Excel, SQL, Power BI, Tableau, Statistics, Pyt..."

In [13]:
# User input
user_skills = "Java,Flutter, Dart, Android Studio, Firebase, Git, Teamwork, Communication,Logical Thinking"
user_skills_processed = preprocess(user_skills)

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [15]:
# TF-IDF Vectorization
vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(df['All Skills'].tolist() + [user_skills_processed])

In [16]:
# Last vector is user's skills
user_vector = tfidf_matrix[-1]
job_vectors = tfidf_matrix[:-1]

In [17]:
# Cosine Similarity
similarities = cosine_similarity(user_vector, job_vectors).flatten()
df['Match Score'] = similarities
df.head()

,Job Role,Technical Skills,Soft Skills,All Skills,Match Score
0,Data Scientist,"Python, Machine Learning, SQL, Pandas, Scikit-...","Analytical Thinking, Communication, Problem So...","Python, Machine Learning, SQL, Pandas, Scikit-...",0.035281
1,Frontend Developer,"HTML, CSS, JavaScript, React, Responsive Desig...","Creativity, Attention to Detail, Teamwork, Ada...","HTML, CSS, JavaScript, React, Responsive Desig...",0.117195
2,Backend Developer,"Python, Django, REST APIs, SQL, PostgreSQL, Git","Logical Thinking, Collaboration, Problem Solvi...","Python, Django, REST APIs, SQL, PostgreSQL, Gi...",0.097187
3,Mobile App Developer,"Flutter, Dart, Android Studio, Firebase, Git","Creativity, Problem Solving, Team Collaboratio...","Flutter, Dart, Android Studio, Firebase, Git, ...",0.503647
4,Business Analyst,"Excel, SQL, Power BI, Tableau, Statistics, Python","Critical Thinking, Communication, Business Acu...","Excel, SQL, Power BI, Tableau, Statistics, Pyt...",0.033996

In [18]:
# Top matches
recommended = df.sort_values(by='Match Score', ascending=False)
print("Top Job Recommendations:")
print(recommended[['Job Role', 'Technical Skills', 'Soft Skills', 'Match Score']].head(5))

Top Job Recommendations:
                Job Role                                   Technical Skills  \
3   Mobile App Developer       Flutter, Dart, Android Studio, Firebase, Git
1     Frontend Developer  HTML, CSS, JavaScript, React, Responsive Desig...
10     Software Engineer  Java, Python, C++, Spring, Django, React, SQL,...
2      Backend Developer    Python, Django, REST APIs, SQL, PostgreSQL, Git
12        Cloud Engineer  AWS, Azure, GCP, EC2, S3, Python, Bash, Securi...

                                          Soft Skills  Match Score
3   Creativity, Problem Solving, Team Collaboratio...     0.503647
1   Creativity, Attention to Detail, Teamwork, Ada...     0.117195
10  Problem-solving, Teamwork, Communication, Atte...     0.115499
2   Logical Thinking, Collaboration, Problem Solvi...     0.097187
12  Problem-solving, Communication, Adaptability, ...     0.056623

In [19]:


# Sort by best match
df_sorted = df.sort_values(by='Match Score', ascending=False)

# Show results
print("✅ Job Role Recommendations:")
print(df_sorted[['Job Role', 'Match Score']])

✅ Job Role Recommendations:
                           Job Role  Match Score
3              Mobile App Developer     0.503647
1                Frontend Developer     0.117195
10                Software Engineer     0.115499
2                 Backend Developer     0.097187
12                   Cloud Engineer     0.056623
13                 Network Engineer     0.055702
15                 Technical Writer     0.051491
9                   Product Manager     0.036131
0                    Data Scientist     0.035281
6                    UI/UX Designer     0.034051
4                  Business Analyst     0.033996
18  Site Reliability Engineer (SRE)     0.032833
8      Digital Marketing Specialist     0.031945
11            Cybersecurity Analyst     0.030521
7                   DevOps Engineer     0.000000
5                   Project Manager     0.000000
14     Database Administrator (DBA)     0.000000
16                   Sales Engineer     0.000000
17            IT Support Specialist     0.000000
19                Platform Engineer     0.000000

✅ Pickle file saved as job_roles_dataset.pkl

In [22]:
def skill_gap_analyzer(df, selected_role, user_selected_skills):
    """
    Returns matched and missing skills for a given job role.
    """
    role_data = df[df['Job Role'] == selected_role].iloc[0]
    role_skills = set([s.strip() for s in (role_data['Technical Skills'] + ", " + role_data['Soft Skills']).split(',')])
    user_skills = set(user_selected_skills)

    matched = sorted(list(role_skills & user_skills))
    missing = sorted(list(role_skills - user_skills))

    return matched, missing

In [23]:
# Example
df = pickle.load(open("job_roles_dataset.pkl", "rb"))
df['All Skills'] = df['Technical Skills'] + ', ' + df['Soft Skills']

# Just test for one job
selected_role = "Data Scientist"
user_selected_skills = ["Python", "Pandas", "Machine Learning"]

matched, missing = skill_gap_analyzer(df, selected_role, user_selected_skills)

print("✅ Matched Skills:", matched)
print("❌ Missing Skills:", missing)

✅ Matched Skills: ['Machine Learning', 'Pandas', 'Python']
❌ Missing Skills: ['Analytical Thinking', 'Communication', 'Curiosity', 'Data Visualization', 'Problem Solving', 'SQL', 'Scikit-learn']

In [24]:
import pandas as pd
import pickle

# Load your CSV
df = pd.read_csv("job_roles_with_skills_updated.csv")  

# Save it as a pickle
with open("job_roles_dataset.pkl", "wb") as f:
    pickle.dump(df, f)

print("✅ Pickle file saved as job_roles_dataset.pkl")

✅ Pickle file saved as job_roles_dataset.pkl